# --- Django ---
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# --- Carpeta con los datos ---
csv's/

# --- Entornos Virtuales ---
myenv/
venv/
env/
.env

# --- Sistema Operativo ---
.DS_Store