{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>Mapa de Congestión</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <script src='https://api.mapbox.com/mapbox-gl-js/v3.17.0/mapbox-gl.js'></script> <!-- mapbox-->
        <link href='https://api.mapbox.com/mapbox-gl-js/v3.17.0/mapbox-gl.css' rel='stylesheet' /> <!-- mapbox-->
        
        <link rel="stylesheet" href="{% static 'estilos.css' %}">
    </head> 
    <body>
        
        <div id="map">

            <div class="map-overlay top">
                <div class="map-overlay-inner">

                    <div class="selector-mapa-container">
                        <div class="control-group">
                            <label for="mapa-select">Mapa:</label>
                            <select id="mapa-select">
                                <option value="nivel_congestion">Demora por congestión</option>
                                <!-- Des-comentar para visualizar estas variables: -->
                                <!-- <option value="velocidad">Velocidad</option> -->
                                <!-- <option value="tiempo">Tiempo</option> -->
                                <!-- <option value="dca">DCA</option> -->
                                <!-- <option value="plan">Plan</option> -->
                                <option value="infeccion">Cinemática de congestión</option>
                            </select>
                        </div>
                    </div>

                    <div class="selector_nivel_ref_infeccion_container">
                        <div class="control-group">
                            <label for="nivel-select">Nivel de referencia:</label>
                            <select id="nivel-select">
                                <option value="nivel_4">Nivel 4</option>
                                <option value="nivel_5">Nivel 5</option>
                            </select>
                        </div>                        
                    </div>

                    <div class="selector-sentido-container"> 
                        <div class="control-group">
                            <label for="sentido-select">Sentido:</label>
                            <select id="sentido-select">
                                <option value="NS,SN,OP,PO">Todos</option>                                
                                <option value="NS,SN">NS - SN</option>
                                <option value="OP,PO">OP - PO</option>
                            </select>
                        </div>
                    </div>

                    <div class="selector-dia-container">     
                        <div class="control-group">
                            <label for="dia-select">Día de la semana:</label>
                            <select id="dia-select">
                                <option value="Monday">Lunes</option>
                                <option value="Tuesday">Martes</option>
                                <option value="Wednesday">Miércoles</option>
                                <option value="Thursday">Jueves</option>
                                <option value="Friday">Viernes</option>
                                <option value="Saturday">Sábado</option>
                                <option value="Sunday">Domingo</option>
                            </select>
                        </div>
                    </div>   

                    <h2>Hora: <label id="hora-label">06:30</label></h2>
                    <input id="slider" type="range" min="390" max="1310" step="15" value="0">

                </div>

            </div>

            <div class="map-overlay-legend" id="leyenda-congestion">
                <h3>Condición de circulación</h3>

                <div class="legend-item">
                    <input type="checkbox" class="filtro-congestion" value="1" checked>
                    <div class="dot" style="background:#1F9D55;"></div>Flujo libre (1)
                </div>

                <div class="legend-item">
                    <input type="checkbox" class="filtro-congestion" value="2" checked>
                    <div class="dot" style="background:#9AE630;"></div>Interacción sin congestión (2)
                </div>

                <div class="legend-item">
                    <input type="checkbox" class="filtro-congestion" value="3" checked>
                    <div class="dot" style="background:#FFDF20;"></div>Congestión tolerable (3)
                </div>

                <div class="legend-item">
                    <input type="checkbox" class="filtro-congestion" value="4" checked>
                    <div class="dot" style="background:#FF8904;"></div>Congestión alta (4)
                </div>

                <div class="legend-item">
                    <input type="checkbox" class="filtro-congestion" value="5" checked>
                    <div class="dot" style="background:#E7180B;"></div>Saturado (5)
                </div>

                <div class="legend-item">
                    <input type="checkbox" class="filtro-congestion" value="6" checked>
                    <div class="dot" style="background:#CC00CC;"></div>Saturación extrema (6)
                </div>

                <div class="legend-item">
                    <input type="checkbox" class="filtro-congestion" value="0" checked>
                    <div class="dot" style="background:#8A8D91;"></div>Sin datos
                </div>

            </div>

            <div class="map-overlay-legend" id="leyenda-gradiente" style="display: none;">
                <h3 id="titulo-gradiente">Velocidad</h3>
                <div class="gradient-bar" id="barra-color"></div>
                <div class="gradient-labels">
                    <span id="min-val">3.46</span>
                    <span id="max-val">58.22</span>
                </div>
            </div>    

            <div class="map-overlay-legend" id="leyenda-planes-semana" style="display: none;">
                <h3 id="titulo-planes"> Planes disponibles:</h3>

                <div class="plan-row">
                    <input type="radio" name= "planes" class="filtro-planes" value="P1" checked>
                    <div class="plan-indicator" style="background: #31C950;"></div> Plan 1
                </div>

                <div class="plan-row">
                    <input type="radio" name= "planes" class="filtro-planes" value="P2">
                    <div class="plan-indicator" style="background: #9AE630;"></div> Plan 2
                </div>

                <div class="plan-row">
                    <input type="radio" name= "planes" class="filtro-planes" value="P4">
                    <div class="plan-indicator" style="background: #FFDF20;"></div> Plan 4
                </div>

                <div class="plan-row">
                    <input type="radio" name= "planes" class="filtro-planes" value="P5">
                    <div class="plan-indicator" style="background: #FF8904;"></div> Plan 5
                </div>

                <div class="plan-row">
                    <input type="radio" name= "planes" class="filtro-planes" value="P6">
                    <div class="plan-indicator" style="background: #E7180B;"></div> Plan 6
                </div>

                <div class="plan-row">
                    <input type="radio" name= "planes" class="filtro-planes" value="P8">
                    <div class="plan-indicator" style="background: #3498db;"></div> Plan 8
                </div>
                
                <div class="plan-row">
                    <input type="radio" name= "planes" class="filtro-planes" value="P31">
                    <div class="plan-indicator" style="background: #d8c8b8;"></div> Plan 31
                </div>

            </div>

            <div class="map-overlay-legend" id="leyenda-planes-sabado" style="display: none;">
                <h3 id="titulo-planes"> Planes disponibles:</h3>

                <div class="plan-row">
                    <input type="radio" name= "planes" class="filtro-planes" value="P6">
                    <div class="plan-indicator" style="background: #E7180B;"></div> Plan 6
                </div>

                <div class="plan-row">
                    <input type="radio" name= "planes" class="filtro-planes" value="P7">
                    <div class="plan-indicator" style="background: #CC00CC;"></div> Plan 7
                </div> 

                <div class="plan-row">
                    <input type="radio" name= "planes" class="filtro-planes" value="P8">
                    <div class="plan-indicator" style="background: #3498db;"></div> Plan 8
                </div>
                
                <div class="plan-row">
                    <input type="radio" name= "planes" class="filtro-planes" value="P31">
                    <div class="plan-indicator" style="background: #d8c8b8;"></div> Plan 31
                </div>

            </div>
            
            <div class="map-overlay-legend" id="leyenda-planes-domingo" style="display: none;">
                <h3 id="titulo-planes"> Planes disponibles:</h3>

                <div class="plan-row">
                    <input type="radio" name= "planes" class="filtro-planes" value="P6">
                    <div class="plan-indicator" style="background: #E7180B;"></div> Plan 6
                </div>

                <div class="plan-row">
                    <input type="radio" name= "planes" class="filtro-planes" value="P7">
                    <div class="plan-indicator" style="background: #CC00CC;"></div> Plan 7
                </div> 

                <div class="plan-row">
                    <input type="radio" name= "planes" class="filtro-planes" value="P8">
                    <div class="plan-indicator" style="background: #3498db;"></div> Plan 8
                </div>

            </div>              

            <div class="map-overlay-legend" id="leyenda-SIR" style="display: none;">
                <h3 id="titulo-SIR"> Estados:</h3>

                <div class="legend-item">
                    <input type="checkbox" class="filtro-SIR" value="0" checked>
                    <div class="SIR-indicator" style="background: #31C950;"></div> Nunca congestionado
                </div>

                <div class="legend-item">
                    <input type="checkbox" class="filtro-SIR" value="2" checked>
                    <div class="SIR-indicator" style="background: #E7180B;"></div> Congestionado
                </div>  

                <div class="legend-item">
                    <input type="checkbox" class="filtro-SIR" value="1" checked>
                    <div class="SIR-indicator" style="background: #4A90E2;"></div> Recuperado
                </div>                

                <div class="legend-item">
                    <input type="checkbox" class="filtro-SIR" value="3" checked>
                    <div class="SIR-indicator" style="background: #8A8D91;"></div> Sin datos
                </div>

                <h3 id="titulo-SIR-2"> Período:</h3>

                <div class="peaks-SIR">
                    <input type="radio" name= "peaks" class="filtro-peaks-SIR" value="mañana" checked>
                    <label>Punta mañana (06:30 - 10:30)</label> 
                </div>
                
                <div class="peaks-SIR" id="viernes-only">
                    <input type="radio" name= "peaks" class="filtro-peaks-SIR" value="mediodia">
                    <label>Punta mediodia (11:30 - 15:00)</label> 
                </div>                

                <div class="peaks-SIR">
                    <input type="radio" name= "peaks" class="filtro-peaks-SIR" value="tarde">
                    <label>Punta tarde (16:30 - 21:00)</label> 
                </div>
                
            </div>                                  
         

            <div id="barra-lateral" class="barra-lateral">
                <button id="boton-barra-lateral" class="boton-barra-lateral">
                    ◀ </button>

                <div class="contenido-barra-lateral">
                    <h2>Información contenida por los pop-up's:</h2>

                    <div id="contenido-popup">
                        
                        <div class="contenedor-grid">

                            <div class="control-item">
                                <label>Nodo de control</label><input type="checkbox" class="filtro-popup" value="interseccion" checked>
                            </div>

                            <div class="control-item">
                                <label>Calle</label><input type="checkbox" class="filtro-popup" value="calle" checked>
                            </div> 

                            <div class="control-item">
                                <label>Sentido</label><input type="checkbox" class="filtro-popup" value="sentido" checked>
                            </div> 

                            <!-- 
                            <div class="control-item">
                                <label>Tiempo</label><input type="checkbox" class="filtro-popup" value="tiempo" checked>
                            </div> 
                            
                            <div class="control-item">
                                <label>Velocidad</label><input type="checkbox" class="filtro-popup" value="velocidad" checked>
                            </div> 
                            
                            <div class="control-item">
                                <label>Tiempo/Largo</label><input type="checkbox" class="filtro-popup" value="tiempo/largo" checked>
                            </div> 
                            

                            <div class="control-item">
                                <label>Nivel de congestión</label><input type="checkbox" class="filtro-popup" value="congestion" checked>
                            </div>       

                            <div class="control-item">
                                <label>Estado</label><input type="checkbox" class="filtro-popup" value="estado" checked>
                            </div> 

                            -->
                            
                            <div class="control-item">
                                <label>Desde</label><input type="checkbox" class="filtro-popup" value="desde" checked>
                            </div> 
                            
                            <div class="control-item">
                                <label>Hasta</label><input type="checkbox" class="filtro-popup" value="hasta" checked>
                            </div>           
                            
                            <div class="control-item">
                                <label>Longitud (m)</label><input type="checkbox" class="filtro-popup" value="largo" checked>
                            </div>    
                            
                            <div class="control-item">
                                <label>Demora por congestión (s/km)</label><input type="checkbox" class="filtro-popup" value="dca" checked>
                            </div>                             

                        </div>
                    </div>    
                </div>
            </div>

        </div> 

        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiaHV3dSIsImEiOiJjbWpzdDhpc3czaTd1M2NvamlkNXVicWd6In0.cFdXVIOLckEUTYLHRC9uOQ'
            const map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/dark-v11',
                center: [-70.60317798251957, -33.45911872061706],  
                zoom: 14.5
            });


            // REFERENCIAS:

            // Referencias a los controles HTML y leyendas
            const slider = document.getElementById('slider');
            const display = document.getElementById('hora-label');
            const mapaSelect = document.getElementById('mapa-select');
            const diaSelect = document.getElementById('dia-select');
            const sentidoSelect = document.getElementById('sentido-select');
            const nivelRefInfeccionSelect = document.getElementById('nivel-select'); 
            const nivelRefInfeccionSelectContainer = document.querySelector('.selector_nivel_ref_infeccion_container');
            const leyendaCongestion =  document.getElementById('leyenda-congestion');
            const leyendaSIR = document.getElementById('leyenda-SIR');
            const leyendaGradiente = document.getElementById('leyenda-gradiente');
            const leyendaPlanesSemana = document.getElementById('leyenda-planes-semana');
            const leyendaPlanesSabado = document.getElementById('leyenda-planes-sabado');
            const leyendaPlanesDomingo = document.getElementById('leyenda-planes-domingo');


            // Referencia a las checkboxes de la congestion
            const checkboxes_congestion = document.querySelectorAll('.filtro-congestion');

            // Referencia a las checkboxes de los planes
            const checkboxes_planes = document.querySelectorAll('.filtro-planes');

            // Referencia a las checkboxes de los pop-up's
            const checkboxes_popup = document.querySelectorAll('.filtro-popup');

            // Referencia a las checkboxes del modelo SIR
            const checkboxes_SIR = document.querySelectorAll('.filtro-SIR');

            // Referencia a los radio buttons del modelo SIR (peaks)
            const peaks = document.querySelectorAll('.filtro-peaks-SIR');   
            const peakSeleccionado = document.querySelector('.filtro-peaks-SIR:checked');
            const diaViernes = document.getElementById('viernes-only');

            // Referencias al gradiente
            const tituloGradiente = document.getElementById('titulo-gradiente');
            const barraColor =  document.getElementById('barra-color');
            const minVal = document.getElementById('min-val');
            const maxVal = document.getElementById('max-val');

            // Referencia a la barra lateral
            const barraLateral = document.getElementById('barra-lateral');
            const botonBarraLateral = document.getElementById('boton-barra-lateral');
            

            // VARIABLES GLOBALES 

            // Minutos (totales) que trae el slider x debajo (múltiplos de 15)
            let minutosTotales = parseInt(slider.value);

            // Mapa seleccionado
            let mapaActual = mapaSelect.value;

            // Día seleccionado
            let diaActual = diaSelect.value;

            // Sentido seleccionado
            let sentidoActual = sentidoSelect.value;

            // Peak seleccionado
            let peakActual = peakSeleccionado.value || 'mañana';

            // Nivel de referencia de infección seleccionado
            let nivelRefInfeccionActual = nivelRefInfeccionSelect.value;

            // Arco seleccionado y coordenadas del mouse (para el pop-up de info)
            let arcoActual = null;
            let coordenadasPopup = null;
            let puntoPantalla = null;

            // Nodo seleccionado
            let nodoActual = null;
            
            // Valores del slider para la congestión, peaks de mañana y tarde
            let ultimo_valor_congestion = 390;
            let ultimo_valor_mañana = 390; 
            let ultimo_valor_tarde = 990;
            let ultimo_valor_mediodia = 690;

            // instancia del Pop-up actual
            let popupActual = new mapboxgl.Popup({
                closeButton: false,
                closeOnClick: false,
            });
            
            // Variable para las checkboxes/radio de los niveles de congestión, planes*, peaks y pop-up's respectivamente
            let nivelesSeleccionados = [0, 1, 2, 3, 4, 5, 6];
            
            let diasSemana = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'];
            let planesSeleccionadosSemana = ['P1', 'P2', 'P4', 'P5', 'P6', 'P8', 'P31'];
            let planesSeleccionadosSabado = [ 'P6', 'P7', 'P8', 'P31'];
            let planesSeleccionadosDomingo = ['P6', 'P7', 'P8'];

            let estadosSeleccionados = [0, 1, 2, 3];

            let infoSeleccionada = Array.from(checkboxes_popup)
            .filter(cb => cb.checked)
            .map(cb => cb.value);

            // FUNCIONES

            // Función para transformar la cantidad de minutos que lleva el slider acumulados 
            // en el formato TimeField() de los datos
            function getHora(minutosInput) {
                const h = Math.floor(minutosInput / 60);
                const m = minutosInput % 60;

                const hStr = h.toString().padStart(2, '0');
                const mStr = m.toString().padStart(2, '0');
                return `${hStr}:${mStr}:00`; // formato TimeField() (06:00:00)
            }

            // mayor valor de velocidad = 3,46
            // menor valor de velocidad = 58,22

            // menor valor de tiempo = 11,57
            // mayor valor de tiempo = 477,83

            // menor valor DCA = 0.0
            // mayor valor DCA = 851.0

            // (interpolación por quintiles (0, 20, 40, 60, 80, 100))
            function actualizarColores(mapa){
                let color;

                if (mapa == 'velocidad'){
                    color = [
                        'interpolate', ['linear'], ['get', mapa],
                        3.46, '#CC00CC',  
                        10.0, '#E7180B',      
                        18.0, '#FF8904',      
                        25.0, '#FFDF20',      
                        35.0, '#9AE630',      
                        58.22, '#31C950'
                    ];
                }

                // en el tiempo habian 319 datos sobre 200, para evitar outlayers en la
                // representación visual, se redujo el cap a 200
                else if (mapa == 'tiempo'){
                    color = [
                        'interpolate', ['linear'], ['get', mapa],
                        11.57, '#31C950',     
                        39.39, '#9AE630',     
                        51.2, '#FFDF20',     
                        63.0, '#FF8904',
                        100.0, '#E7180B',
                        200.0, '#CC00CC',           
                    ];
                } 

                // el 60% de los datos de DCA eran 0's, por lo que se utilizó
                // los percentiles 0, 65, 75, 85 y 95 respectivamente
                else if (mapa == 'dca'){
                    color = [
                        'interpolate', ['linear'], ['get', mapa],
                        0.0, '#31C950',
                        5.0, '#9AE630',
                        30, '#FFDF20',
                        80.0, '#FF8904',
                        215.0, '#E7180B',
                        450.0, '#CC00CC'
                    ]
                }

                else if (mapa == 'plan'){
                    color = ['match', ['get', 'plan']];
                    //const minutos = Int;
                    //const horas = Int;

                    const mapeoPlanes = {
                        'P1': ['#31C950', 0],
                        'P2': ['#9AE630', 1],
                        'P4': ['#FFDF20', 2],
                        'P5': ['#FF8904', 3],
                        'P6': ['#E7180B', 4],
                        'P7': ['#CC00CC', 5],
                        'P8': ['#3498db', 6],
                        'P31': ['#d8c8b8', 7]
                    }

                    planesSeleccionadosSemana.forEach(plan => {
                        if(mapeoPlanes[plan]){
                            color.push(plan);
                            color.push(mapeoPlanes[plan][0]);
                        }
                    });

                    color.push('rgba(0,0,0,0)');
                }

                else if (mapa == 'infeccion'){

                    let columnaCSV = '';

                    const mapeoSIR = {
                        0: '#31C950',
                        1: '#4A90E2',
                        2: '#E7180B',
                        3: '#8A8D91',
                    }      
                    
                    if(nivelRefInfeccionActual== 'nivel_4'){
                        if (peakActual == 'mañana'){
                            columnaCSV = 'infeccion_global_nivel_4';
                        }      
                        
                        else if (peakActual == 'tarde'){
                            columnaCSV = 'infeccion_punta_tarde_nivel_4';
                        }                        

                        else if (peakActual == 'mediodia'){
                            columnaCSV = 'infeccion_punta_mediodia_nivel_4';
                        }
                    }

                    else if(nivelRefInfeccionActual == 'nivel_5'){
                        if (peakActual == 'mañana'){
                            columnaCSV = 'infeccion_global_nivel_5';
                        }      
                        
                        else if (peakActual == 'tarde'){
                            columnaCSV = 'infeccion_punta_tarde_nivel_5';
                        }                        

                        else if (peakActual == 'mediodia'){
                            columnaCSV = 'infeccion_punta_mediodia_nivel_5';
                        }
                    }

                    color = ['match', ['coalesce', ['get', columnaCSV], 3]];
                    
                    estadosSeleccionados.forEach(estado => {
                        const entero = parseInt(estado)
                        if (mapeoSIR[entero]){
                            color.push(entero)
                            color.push(mapeoSIR[entero]);
                        }
                    })    

                    color.push('rgba(0,0,0,0)');
                }
                
                else {
                    color = ['match', ['coalesce', ['get', 'nivel_congestion'], 0]];

                    const mapeoColores = {    
                        0: '#8A8D91',
                        1: '#1F9D55',
                        2: '#9AE630',
                        3: '#FFDF20',
                        4: '#FF8904',
                        5: '#E7180B',
                        6: '#CC00CC',
                    }

                    nivelesSeleccionados.forEach(nivel => {
                        if (mapeoColores[nivel]) {
                            color.push(nivel);
                            color.push(mapeoColores[nivel]);
                        }
                    });

                    color.push('rgba(0,0,0,0)');    

                }

                if (map.getLayer('capa-aristas')) {
                    map.setPaintProperty('capa-aristas', 'line-color', color);
                }
            }

            function actualizarInterfaz(mapa){
                if (mapa == 'nivel_congestion'){
                    leyendaCongestion.style.display = 'block';
                    leyendaGradiente.style.display = 'none';
                    leyendaPlanesSemana.style.display = 'none';
                    leyendaPlanesSabado.style.display = 'none';
                    leyendaPlanesDomingo.style.display = 'none';
                    leyendaSIR.style.display = 'none';
                    nivelRefInfeccionSelectContainer.style.display = 'none';

                    
                    slider.min = 390;
                    slider.max = 1439;
                    slider.value = ultimo_valor_congestion;

                    minutosTotales = parseInt(slider.value);
                }

                else if (mapa == 'velocidad' || mapa == 'tiempo' || mapa == 'dca'){
                
                    leyendaCongestion.style.display = 'none';
                    leyendaGradiente.style.display = 'block';
                    leyendaPlanesSemana.style.display = 'none';
                    leyendaPlanesSabado.style.display = 'none';
                    leyendaPlanesDomingo.style.display = 'none';                    
                    leyendaSIR.style.display = 'none';

                    if(mapa == 'velocidad'){
                        tituloGradiente.innerText = 'Velocidad (km/h)'
                        minVal.innerText = '3.46'
                        maxVal.innerText = '58.22'
                        barraColor.style.background = 'linear-gradient(to right, #CC00CC, #E7180B, #FF8904, #FFDF20, #9AE630, #31C950)';
                    }

                    else if(mapa == 'tiempo'){
                        tituloGradiente.innerText = 'Tiempo (s/km)'
                        minVal.innerText = '11.57'
                        maxVal.innerText = '200.0'
                        barraColor.style.background = 'linear-gradient(to right, #31C950, #9AE630, #FFDF20, #FF8904, #E7180B, #CC00CC)';
                    }

                    else if(mapa == 'dca'){
                        tituloGradiente.innerText = 'DCA (s/km)'
                        minVal.innerText = '0.0'
                        maxVal.innerText = '450.0'
                        barraColor.style.background =  'linear-gradient(to right, #31C950, #9AE630, #FFDF20, #FF8904, #E7180B, #CC00CC)'
                    }
                }

                else if(mapa == 'plan'){

                    if (diasSemana.includes(diaActual)){
                        leyendaCongestion.style.display = 'none';
                        leyendaGradiente.style.display = 'none';
                        leyendaPlanesSemana.style.display = 'block';
                        leyendaPlanesSabado.style.display = 'none';
                        leyendaPlanesDomingo.style.display = 'none';                        
                        leyendaSIR.style.display = 'none';
                    }

                    else if (diaActual == 'Saturday'){
                        leyendaCongestion.style.display = 'none';
                        leyendaGradiente.style.display = 'none';
                        leyendaPlanesSemana.style.display = 'none';
                        leyendaPlanesSabado.style.display = 'block';
                        leyendaPlanesDomingo.style.display = 'none';                        
                        leyendaSIR.style.display = 'none';                        
                    }

                    else if (diaActual == 'Sunday'){
                        leyendaCongestion.style.display = 'none';
                        leyendaGradiente.style.display = 'none';
                        leyendaPlanesSemana.style.display = 'none';
                        leyendaPlanesSabado.style.display = 'none';
                        leyendaPlanesDomingo.style.display = 'block';                        
                        leyendaSIR.style.display = 'none';                             
                    }
                }

                else if (mapa == 'infeccion') {
                    leyendaCongestion.style.display = 'none';
                    leyendaGradiente.style.display = 'none';
                    leyendaPlanesSemana.style.display = 'none';
                    leyendaPlanesSabado.style.display = 'none';
                    leyendaPlanesDomingo.style.display = 'none';                     
                    leyendaSIR.style.display = 'block';
                    nivelRefInfeccionSelectContainer.style.display = 'block';

                    if(diaActual == 'Friday'){
                        diaViernes.style.display = 'flex';
                    }
                    else{
                        diaViernes.style.display = 'none';

                        if(peakActual == 'mediodia'){
                            peakActual = 'mañana';
                            const mañana = document.querySelector('input[name="peaks"][value="mañana"]');
                            
                            if(mañana){
                                mañana.checked = true;
                            }

                        }
                    }

                    if(peakActual == 'mañana'){
                        slider.min = 390;
                        slider.max = 630;
                        slider.value = ultimo_valor_mañana; 
                    } 
                    else if(peakActual == 'tarde'){
                        slider.min = 990;
                        slider.max = 1260;
                        slider.value = ultimo_valor_tarde;
                    }

                    else if(peakActual == 'mediodia'){
                        slider.min = 690;
                        slider.max = 900;
                        slider.value = ultimo_valor_mediodia; 
                    }            

                    minutosTotales = parseInt(slider.value);
                }
            }
                
            // Función para displayear lo que corresponda según el slider y el día seleccionado
            // a través de filtros literales
            function actualizarMapa() {
                const hora = getHora(minutosTotales);

                const filtro = [
                    'all',
                    ['==', ['get', 'dia'], diaActual],
                    ['==', ['get', 'hora'], hora],
                    ['in', ['get', 'sentido'], ['literal', sentidoActual.split(',')]],
                    ['any',
                        ['has', 'nivel_congestion'],
                        ['has', 'infeccion_global_nivel_4'],
                        ['has', 'infeccion_global_nivel_5'],
                        ['has', 'infeccion_punta_tarde_nivel_4'],
                        ['has', 'infeccion_punta_tarde_nivel_5'],
                        ['has', 'infeccion_punta_mediodia_nivel_4'],
                        ['has', 'infeccion_punta_mediodia_nivel_5'],
                    ]
                ];

                if (map.getLayer('capa-aristas')) {
                    map.setFilter('capa-aristas', filtro);

                    // Según la mapa seleccionada, cambian los colores
                    actualizarColores(mapaActual);
                }
                
                if (map.getLayer('capa-aristas-hitbox')) {
                    map.setFilter('capa-aristas-hitbox', filtro);
                }

                // Para actualizar la hora mostrada x el slider
                const hVis = Math.floor(minutosTotales / 60).toString().padStart(2, '0');
                const mVis = (minutosTotales % 60).toString().padStart(2, '0');
                display.innerText = `${hVis}:${mVis}`;
            }

            function actualizarPopup() {

                    if (!coordenadasPopup) {
                        popupActual.remove();
                        return;
                    }

                    let HTML = '';

                    if (nodoActual){
                        const propiedadesNodo = nodoActual.properties;

                        const nodoID = propiedadesNodo.id;
                        const interseccionNodo = propiedadesNodo.interseccion;

                        if (interseccionNodo == null){
                            HTML = `<div style= "text-align: left; line-height: 1.5;">
                                    ID Nodo: ${nodoID}<br>`
                        }

                        else{
                            HTML = `<div style= "text-align: left; line-height: 1.5;">
                                    <strong>N° Intersección: ${interseccionNodo}</strong><br>
                                    ID Nodo: ${nodoID}<br>`
                        }

                    }

                    else if (arcoActual){

                        // Obtener las propiedades del arco
                        const propiedadesArco = arcoActual.properties;

                        const idArco = propiedadesArco.id; 
                        const calle = propiedadesArco.calle_principal;
                        const sentido = propiedadesArco.sentido;
                        const tiempo = propiedadesArco.tiempo;
                        const velocidad = propiedadesArco.velocidad;
                        const tiempo_entre_largo = propiedadesArco.tiempo_entre_largo;
                        const dca = propiedadesArco.dca;
                        const congestion = propiedadesArco.nivel_congestion;               
                        const desde = propiedadesArco.desde;
                        const hasta = propiedadesArco.hasta;
                        const interseccion = propiedadesArco.interseccion;
                        const largo = propiedadesArco.largo;

                        const procesar_dato = (label, valor) => {

                            if (valor == 'NULL'){
                                return '';
                            }

                            return `${label}: ${valor} <br>`;
                        }
                        
                        const mapeoInfo = {
                            'calle': () => procesar_dato('Calle', calle),
                            'sentido': () => procesar_dato('Sentido', sentido),
                            // 'tiempo': () => procesar_dato('Tiempo', tiempo),
                            // 'velocidad': () => procesar_dato('Velocidad', velocidad),
                            // 'tiempo/largo': () => procesar_dato('Tiempo/Largo', tiempo_entre_largo),
                            // 'congestion': () => procesar_dato('Nivel de congestión', congestion),
                            'dca': () => procesar_dato('Demora por congestión (s/km)', dca),
                            'desde': () => procesar_dato('Desde', desde),
                            'hasta': () => procesar_dato('Hasta', hasta),
                            'interseccion': () => procesar_dato('Nodo de control', interseccion),
                            'largo': () => procesar_dato('Longitud (m)', largo)
                        };

                        HTML = `<div style= "text-align: left; line-height: 1.5;">
                                        <strong>ID: ${idArco}</strong><br>`

                                    
                        infoSeleccionada.forEach(variable => {
                            if(mapeoInfo[variable]){
                                const contenido = mapeoInfo[variable]();
                                
                                if(contenido !== ''){
                                    HTML += contenido;
                                }
                            }
                        });

                        HTML += '</div>';
                    }

                    else{
                        popupActual.remove();
                        return;
                    }

                popupActual.setLngLat(coordenadasPopup)
                    .setHTML(HTML)
                    .addTo(map);
            }


            // LISTENERS (Cuando el usuario toca algo)

            // Hora y Pop-up
            slider.addEventListener('input', (e) => {
                let valor = parseInt(e.target.value);

                if(mapaActual == 'nivel_congestion'){
                    ultimo_valor_congestion = valor;
                }

                else if(peakActual == 'mañana'){
                    ultimo_valor_mañana = parseInt(e.target.value);
                }
                else if (peakActual == 'tarde'){
                    ultimo_valor_tarde = parseInt(e.target.value);
                }
                else if (peakActual == 'mediodia'){
                    ultimo_valor_mediodia = parseInt(e.target.value);
                }

                minutosTotales = valor;
                actualizarMapa();

                map.once('idle', () => {
                    if (puntoPantalla){
                        const features = map.queryRenderedFeatures(puntoPantalla, {layers: ['capa-aristas-hitbox']});

                        if (features.length > 0) {
                            arcoActual = features[0]; 
                            const propiedades = arcoActual.properties;
                            
                            if (mapaActual == 'nivel_congestion'){
                                if(!nivelesSeleccionados.includes(props.nivel_congestion)){
                                    return;
                                }
                            }

                            else if (mapaActual == 'plan') {
                                if(!planesSeleccionados.includes(props.plan)){
                                    return;
                                }
                            }

                            else if (mapaActual == 'infeccion'){
                                if(!estadosSeleccionados.includes(props.infeccion)){
                                    return;
                                }
                            }

                            actualizarPopup();
                        }   
                        else {
                            popupActual.remove;
                        }
                    }
                })
            });

            // Mapa
            mapaSelect.addEventListener('change', (e) => {
                mapaActual = e.target.value;

                actualizarInterfaz(mapaActual);
                actualizarMapa();

            });

            // Día
            diaSelect.addEventListener('change', (e) => {
                diaActual = e.target.value;
                actualizarInterfaz(mapaActual);
                actualizarMapa();
            });

            // Sentido
            sentidoSelect.addEventListener('change', (e) => {
                sentidoActual = e.target.value;
                actualizarMapa();
            })

            // Peak congestión
            peaks.forEach(boton => {
                boton.addEventListener('change', (e) => {
                    peakActual = e.target.value;

                    actualizarInterfaz('infeccion');

                    actualizarMapa();
                })
            })

            // Nivel de referencia para la infección
            nivelRefInfeccionSelect.addEventListener('change', (e) => {
                nivelRefInfeccionActual = e.target.value;

                actualizarColores('infeccion');
                actualizarMapa();
            })

            // Barra lateral
            botonBarraLateral.addEventListener('click', function() {

                barraLateral.classList.toggle('abierto');

                if (barraLateral.classList.contains('abierto')){
                    botonBarraLateral.innerHTML = '▶';
                }
                else{
                    botonBarraLateral.innerHTML = '◀';
                }
            })


            // CHECKBOXES

            // Para la congestión
            checkboxes_congestion.forEach(cb => {
                cb.addEventListener('change', () => {
                    nivelesSeleccionados = Array.from(checkboxes_congestion)
                    .filter(i => i.checked)
                    .map(i => parseInt(i.value));

                    actualizarColores(mapaActual);
                });
            });

            // Para los planes
            checkboxes_planes.forEach(cb => {
                 cb.addEventListener('change', () => {
                    planesSeleccionados = Array.from(checkboxes_planes)
                    .filter(i => i.checked)
                    .map(i => i.value);

                    actualizarColores(mapaActual);
                });
            })

            // Para los pop-up's
            checkboxes_popup.forEach(cb => {
                cb.addEventListener('change', () => {
                    infoSeleccionada = Array.from(checkboxes_popup)
                    .filter(i => i.checked)
                    .map(i => i.value);

                    actualizarPopup();
                })
            })

            // Para los estados (SIR)
            checkboxes_SIR.forEach(cb => {
                cb.addEventListener('change', () => {
                    estadosSeleccionados = Array.from(checkboxes_SIR)
                    .filter(i => i.checked)
                    .map(i => parseInt(i.value));

                    actualizarColores(mapaActual);
                })
            })

            // controles (zoom, direccion norte, etc)
            map.addControl(new mapboxgl.FullscreenControl(), 'bottom-left');
            map.addControl(new mapboxgl.NavigationControl(), 'bottom-left');

            map.on('load', () => {

                // La fuente es la misma de antes
                map.addSource('datos-red', {
                    type: 'geojson',
                    data: '/api/traffic-data/' 
                });

                // CAPA DE LÍNEAS (ARCOS)
                map.addLayer({
                    id: 'capa-aristas',
                    type: 'line',    
                    source: 'datos-red',
                    layout: {
                        'line-join': 'round',
                        'line-cap': 'round'
                    },
                    paint: {
                        'line-width': 3,     
                        'line-offset': 6,
                        'line-color': [
                            'match',
                            ['get', 'nivel_congestion'],
                                1, '#1F9D55',
                                2, '#9AE630',
                                3, '#FFDF20',
                                4, '#FF8904',
                                5, '#E7180B',
                                6, '#CC00CC',
                                '#8A8D91'
                            ],
                    }
                });

                // CAPA DE HITBOX PARA LOS ARCOS
                map.addLayer({
                    id: 'capa-aristas-hitbox',
                    type: 'line',
                    source: 'datos-red',
                    paint: {
                        'line-width':11,
                        'line-opacity':0,
                        'line-offset': 6
                    }
                });

                actualizarMapa();

                // CAPA DE PUNTOS (NODOS)
                map.addLayer({
                    id: 'capa-nodos',
                    type: 'circle',
                    source: 'datos-red',
                    filter: ['==', '$type', 'Point'],
                    paint: {
                        'circle-radius': 6,
                        'circle-color': '#d8c8b8'
                        }
                    });
                });

                // EvENTOS
                
                // Cuando el mouse ENTRA en una línea de 'capa-aristas-hitbox'
                map.on('mousemove', 'capa-aristas-hitbox', (e) => {

                    arcoActual = e.features[0];
                    propsArcoActual = arcoActual.properties;


                    if (mapaActual == 'nivel_congestion'){
                        if(!nivelesSeleccionados.includes(propsArcoActual.nivel_congestion)){
                            map.getCanvas().style.cursor = '';
                            popupActual.remove();
                            return;
                        }
                    }
                    
                    else if (mapaActual == 'plan') {
                        if(!planesSeleccionados.includes(propsArcoActual.plan)){
                            map.getCanvas().style.cursor = '';
                            popupActual.remove();
                            return;
                        }
                    }
                    
                    else if (mapaActual == 'infeccion'){
                        if(!estadosSeleccionados.includes(propsArcoActual.infeccion)){
                            map.getCanvas().style.cursor = '';
                            popupActual.remove();
                            return;
                        }
                    }

                    coordenadasPopup = e.lngLat;
                    puntoPantalla = e.point;

                    // Cambiar el cursor a una manito para indicar que es interactivo
                    map.getCanvas().style.cursor = 'pointer';

                    // Actualizar la info que muestra el popup
                    actualizarPopup();
                    
                });

                // Cuando el mouse ENTRA a un nodo de 'capa-nodos'
                map.on('mousemove', 'capa-nodos', (e) => {
                    map.getCanvas().style.cursor = 'pointer';

                    nodoActual= e.features[0];
                    coordenadasPopup = e.lngLat;
                    arcoActual = null;
                    
                    actualizarPopup();
                })

                // Cuando el mouse SALE del nodo
                map.on('mouseleave', 'capa-nodos', () =>{
                    map.getCanvas().style.cursor = '';

                    nodoActual = null
                    popupActual.remove();
                })

                // Cuando el mouse SALE de la línea
                map.on('mouseleave', 'capa-aristas-hitbox', () => {
                    arcoActual = null;
                    coordenadasPopup = null;
                    map.getCanvas().style.cursor = '';
                    popupActual.remove();
                }); 

                map.on('mousemove', 'capa-aristas-hitbox', (e) => {
                    const arco = e.features[0];
                    const props = arco.properties;

                    // --- CONSOLE LOG DE DEPURACIÓN ---
                    console.log("--- Depurando Infección ---");
                    console.log("Columna buscada: infeccion_global_nivel_4");
                    console.log("Valor obtenido:", props.infeccion_global_nivel_4);
                    console.log("Tipo de dato:", typeof props.infeccion_global_nivel_4);
                    console.log("Todas las propiedades disponibles:", props);
                    // ---------------------------------

                    
                });                
            
        </script>
    </body>
</html>