body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom:0; width: 100%;}

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 25%; 
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 100;
}
.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px; 
    font-weight: bold;
    
}    

/* Estilos para el contenedor del slider para darle espacio */
#slider {
    width: 100%;
    margin: 5px 0;
    -webkit-appearance: none;
    appearance: none;
    background: rgb(200, 188, 188);
}

/* Para Chrome, Safari, Edge */
#slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    background:rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}    

/* El Cuadrado Negro (Thumb) */
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;   
    width: 45px;    
    background: #111;
    cursor: grab;
    margin-top: -5px; 
    border-radius: 5px;
}

/* Estilos para la leyenda de congestión */
.map-overlay-legend {
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        position: absolute;
        bottom: 30px;  
        right: 10px;   
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
        z-index: 100;
    }

#leyenda-congestion{
    width: 220px;
}

#leyenda-gradiente{
    width: 300px;
}

#leyenda-planes{
    width: 150px;
}

#leyenda-SIR{
    width: 120px;
}

.map-overlay-legend h3 {
    margin: 0 0 10px;
    font-size: 13px;
    font-weight: bold;
    color: #333;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: #555;
}

/* Estilo para el checkbox */
.filtro-congestion {
    margin-right: 8px; 
    cursor: pointer;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

/* Estilos para la leyenda de gradiente */
.gradient-bar {
    height: 15px;
    width: 100%;
    border-radius: 4px;
    margin: 8px 0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}

.gradient-labels {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: #333;
    margin-top: 2px;
}    

/* Panel de los planes */
.plan-row {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    cursor: pointer;
    font-size: 12px;
    color: #333;
}

/* El indicador visual del plan (colorcito) */
.plan-indicator {
    width: 12px;
    height: 12px;
    border-radius: 3px; 
    margin-right: 8px;
    opacity: 0.8; 
    border: 1px solid rgba(0,0,0,0.1); 
}

.plan-row:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}

/* Panel de los estados de 'infección*/
.SIR {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    cursor: pointer;
    font-size: 12px;
    color: #333;
}

/* Indicador visual del estado (colorcito) */
.SIR-indicator {
    width: 12px;
    height: 12px;
    border-radius: 3px; 
    margin-right: 8px;
    opacity: 0.8; 
    border: 1px solid rgba(0,0,0,0.1); 
}

/* ---------------------- */

/* Side bar para la info mostrada por los pop-up's */
.barra-lateral {
    position: fixed;      
    top: 37%;
    transform: translateY(-37%);
    right: -300px;         
    width: 300px;
    height: 350px;        
    background-color: rgba(30, 30, 30, 0.95);
    box-shadow: -2px 0 10px rgba(0,0,0,0.5);
    transition: right 0.3s ease-in-out;     
    z-index: 20000;       
    color: white;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.barra-lateral.abierto {
    right: 0;             
}

/* Contenido interno */
.contenido-barra-lateral {
    padding-top: 0px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;
    overflow-y: auto;
}

/* El botón */
.boton-barra-lateral {
    position: absolute;   
    right: 100%;          
    top: 0;
    width: 40px;
    height: 40px;
    background-color: #31C950;
    border: none;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -2px 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.2s;
}

.boton-barra-lateral:hover {
    background-color: #28a745;
}
